
.search {
    margin-bottom: 35px;
}

.search input {
    width: 90%;
    padding: 6px 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.search button {
    background-color: #f1356d;
    color: #fff;
    border: 0;
    padding: 7px 10px;
    box-sizing: border-box;
    cursor: pointer;
}
